@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700;800&family=Poppins:wght@400;500&display=swap');

* {
    padding:0px;
    margin: 0px;
}

.main{
    margin:50px 100px;
}

.header{
    position: relative;
    height: 100px;
    font-family: 'Orbitron', sans-serif;
}

.logo{
    position: absolute;
    inset:0px auto;
    margin:auto 0px;
    width: fit-content;
    height: fit-content;
    width: 120px;
}

.logo img{
    width: 120px;
}

.nav{
    position:absolute;
    inset:0px;
    width: fit-content;
    height: fit-content;
    margin:auto;
}

.nav-item{
    list-style-type: none;
    display: inline;
    margin:0px 10px;
    font-weight: 600;
}

.nav-item.active{
    border-bottom: 2px solid black;
    font-weight: 800;
}

.button-group{
    position: absolute;
    top:0px;
    bottom:0px;
    right: 0px;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.search-icon{
    display: inline-block;
    margin-top:10px;
}

.search-button{
    display: inline;
}

.search-button button{
    padding:6px 40px;
    border:2px solid #1f1f1f;
    border-radius: 15px;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

.content{
    position: relative;
}

.hero{
    position: absolute;
    width: 300px;
}

.mesh{
    position: absolute;
    top:50px;
    width: 380px;
    z-index: -1;
}

.hero-right{
    margin-left:38%;
    text-align: center;
    padding-top: 50px;
}

.hero-heading{
    margin-top:20px;
    font-size: 48px;
    font-family: 'Orbitron', sans-serif;
}

.hero-para{
    margin-top:20px;
    font-family: 'Poppins', sans-serif;
}

.contact{
    margin-top:50px;
}

.contact-heading{
    padding:10px;
    font-family: 'Poppins', sans-serif;
}

.contact > img {
    width: 30px;
    margin:0px 5px;
    
}

.globe{
    width: 50px;
    position: absolute;
    left:50%;
    top:0px;
}
.star{
    width: 50px;
    position:absolute;
    right:0px;
    top:30px;
}

.hero-buttons{
    margin-top:50px;
}


.email{
    padding: 6px 15px;
    border: 2px solid #1f1f1f;
    border-radius: 8px;
    background-color: #ffffff;
    font-family: 'Orbitron', sans-serif;
}

.join{
    padding: 6px 15px;
    border: 2px solid #1f1f1f;
    border-radius: 8px;
    background-color: #1f1f1f;
    color:#ffffff;
    font-family: 'Orbitron', sans-serif;
}